wheel
docker-pycreds
fonttools
matplotlib
tqdm
scikit-learn
xmltodict
lmdb
dominate
datasets
pypandoc
typing_extensions
torch
torchvision

download_resources @ git+ssh://git@github.ancestry.com/tarchibald/download_resources@ancestry#egg=download_resources
