wheel
docker-pycreds
fonttools
matplotlib
tqdm
scikit-learn
xmltodict
lmdb
dominate
datasets
pypandoc
typing_extensions
torch
torchvision
download_resources @ git+ssh://git@github.com/tahlor/download_resources@galois#egg=download_resources
